body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.mySlides {
	display: none
}

.w3-top {
	background-color: white;
}

#flow {
	display: inline;
}

#lineBelow {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border-width: 20px;
	border-color: #7e8b9f;
}

#jobApp {
	margin-top: 20px;
	padding-top: 100px;
}

.title {
	margin: 0px;
}