body {
	font-family: "Lato", sans-serif;
	color: green;
}

.mySlides {
	display: none
}

#w3-bar #w-3top {
	background-color: blue;
}

h1 {
	color: white;
}

.w3-justify {
	color: green;
	background-color: white;
	font-size: 50px;
}